Django==1.6.5
Markdown==2.4
Pillow==2.5.1
South==0.8.4
colormath==1.0.9
dj-database-url==0.3.0
dj-static==0.0.5
django-cors-headers==0.12
django-filter==0.7
django-stdimage==0.5.1
django-toolbelt==0.0.1
djangorestframework==2.3.13
gunicorn==18.0
httplib2==0.8
numpy==1.8.0
psycopg2==2.5.2
pystache==0.5.3
python-instagram==0.8.0
simplejson==3.3.3
static==1.0.2
wsgiref==0.1.2
